/* style/main.css */

body {
	background-color: yellow;
	font-family:'Crimson Text', serif;
}

h1 {
	color: white;
}

ol {
	font-weight: bold;
	color: white;
}

a{
	text-decoration: none;
}

#my_bar{
	border-style: solid;
	border-radius: 10px;
	background: white;
}

#my_name{
	align-content: center;
}

.margin_border{
	border-style: dashed;
	border-color: black;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}